.header{
      background: #36b5b0;
    }
  #title{
    font-size: 50px;
    color:white;
    margin-top: 200px;
    margin-bottom: 40px;
    margin-left: 35px;
  }

  #img-smartphone{
    margin-top: 100px;
    height:500px;
  }

  #sub-title{
  color: #36b5b0;
  margin: 30px;
  }

  #btn-download{
    width:255px;
    border-radius: 20px;
    margin-right: 10px;
    padding: 10px;
    font-size: 17px;
  }
  #btn-download2{
    width:255px;
    border-radius: 20px;
    padding: 10px;
    font-size: 17px;
    background: #efa94a;
    color: white;
    margin: 30px;
  }
  #btn-download2:hover {
    background-color: #ab7503;
  }

  #icons{
    width:275px;
    margin-bottom: 10px;
  }

  #Codes_QR{
    margin-top: 10px;
    border-radius: 10px;
    width: 100px;
  }

  #Google_play{
    width:255px;
  }

  #content{
    background:#36b5b0;
    border-radius: 10px;
    color:white;
    height:300px;
    margin: 30px;
  }

  #description-contet{
    margin-top: 20px;
  }

  #footer {
    background: #efa94a;
  }
  #footer a {
    color: whitesmoke;
  }
